<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=Mudassar-PC\SQL2005;Initial Catalog=Northwind;Integrated Security=true"/>
    <add name="MarketConnect.Connection" connectionString="Server=(localdb)\MSSQLLocalDB;Database=MRIAsyncINTL;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="MRIAsync.Connection" connectionString="Server=(localdb)\MSSQLLocalDB;Database=MRIAsyncINTL;Integrated Security=True;"  providerName="System.Data.SqlClient"/>
    <add name="MRIAsyncHangfire.Connection" connectionString="Server=(localdb)\MSSQLLocalDB;Database=MRIAsyncINTLHangfire;Integrated Security=True;"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>